pkgbase = smath
	pkgdesc = A mathematical program with many features and paper-like interface, similar to Mathcad
	pkgver = 1_2_9018
	pkgrel = 2
	url = http://smath.info
	install = smath.install
	arch = i686
	arch = x86_64
	groups = math
	license = CCPL
	depends = mono
	backup = opt/smath/settings.inf
	source = https://smath.com/file/LgAv2/SMathStudioDesktop.1_2_9018.Mono.tar.gz
	md5sums = 0ed707b1bfc30b8576a2441af7fef8d8

pkgname = smath
