pkgbase = smath
	pkgdesc = A mathematical program with many features and paper-like interface, similar to Mathcad
	pkgver = 1_3_9126
	pkgrel = 1
	url = http://smath.info
	install = smath.install
	arch = i686
	arch = x86_64
	groups = math
	license = CCPL
	depends = mono
	backup = opt/smath/settings.inf
	source = https://smath.com/file/nw5Lk/SMathStudioDesktop.1_3_9126.Mono.tar.gz
	md5sums = b819d89aa3625be6b74a25bfd5c6f628

pkgname = smath
